# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Environment variables
.env

# Cache and logs
/cache.json
*.log

# Operating System files
.DS_Store
Thumbs.db

# IDE/Editor files
.vscode/
.idea/
*.swp

# Build files
/dist/
build/

# pm2 log files
pmlog*

# OS-specific files
*.bak
*.swp
